<div class="wrapper">
    <div class="panel">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput>
        </mat-form-field>

        <div>
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
        </div>
    </div>
    <div>
        Two
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->