<div class="wrapper">
    <div class="panel">
        <div class="inner-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput autocomplete="off">
            </mat-form-field>
        </div>
    </div>

    <div class="inner-wrapper">
        <div class="main-container">
            <div class="toolbar">
                <div>
                    <button mat-icon-button (click)="locationUp()">
                        <mat-icon>arrow_upward</mat-icon>
                    </button>
                    <span>
                        <span *ngFor="let part of locationParts let i = index">
                            <button mat-button>{{part}}</button>
                            <span *ngIf="i < locationParts.length - 1">/</span>
                        </span>
                    </span>
                </div>
                <div>
                    <button mat-icon-button (click)="zoomIn()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-icon-button (click)="zoomOut()">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>

            <div class="nodes-container" [style.grid-template-columns]="'repeat(auto-fill,' + previewSize + 'px)'">
                <div *ngFor="let node of nodes">
                    <mat-card class="node" (click)="selectNode(node)">
                        <img *ngIf="node.isDirectory" mat-card-image src="assets/folder_img.svg">
                        <img *ngIf="!node.isDirectory" mat-card-image src="assets/file_img.svg">
                        <mat-card-content>
                            <p class="node-name">{{node.name}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>